EW/src/conf/xml-resources/web-service-references/OperacionesMinas/wsdl/localhost_8080/ProducirRecursosMina/OperacionesMinas.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="ProducirRecursosMina">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/ProducirRecursosMina/OperacionesMinas?xsd=1"/>
</xsd:schema>
</types>
<message name="producirRecursos">
<part name="parameters" element="tns:producirRecursos"/>
</message>
<message name="producirRecursosResponse">
<part name="parameters" element="tns:producirRecursosResponse"/>
</message>
<message name="obtenerNivelMina">
<part name="parameters" element="tns:obtenerNivelMina"/>
</message>
<message name="obtenerNivelMinaResponse">
<part name="parameters" element="tns:obtenerNivelMinaResponse"/>
</message>
<message name="asignarMina">
<part name="parameters" element="tns:asignarMina"/>
</message>
<message name="asignarMinaResponse">
<part name="parameters" element="tns:asignarMinaResponse"/>
</message>
<message name="obtenerMinas">
<part name="parameters" element="tns:obtenerMinas"/>
</message>
<message name="obtenerMinasResponse">
<part name="parameters" element="tns:obtenerMinasResponse"/>
</message>
<message name="mejorarMina">
<part name="parameters" element="tns:mejorarMina"/>
</message>
<message name="mejorarMinaResponse">
<part name="parameters" element="tns:mejorarMinaResponse"/>
</message>
<portType name="OperacionesMinas">
<operation name="producirRecursos">
<input wsam:Action="http://webservices/OperacionesMinas/producirRecursosRequest" message="tns:producirRecursos"/>
<output wsam:Action="http://webservices/OperacionesMinas/producirRecursosResponse" message="tns:producirRecursosResponse"/>
</operation>
<operation name="obtenerNivelMina">
<input wsam:Action="http://webservices/OperacionesMinas/obtenerNivelMinaRequest" message="tns:obtenerNivelMina"/>
<output wsam:Action="http://webservices/OperacionesMinas/obtenerNivelMinaResponse" message="tns:obtenerNivelMinaResponse"/>
</operation>
<operation name="asignarMina">
<input wsam:Action="http://webservices/OperacionesMinas/asignarMinaRequest" message="tns:asignarMina"/>
<output wsam:Action="http://webservices/OperacionesMinas/asignarMinaResponse" message="tns:asignarMinaResponse"/>
</operation>
<operation name="obtenerMinas">
<input wsam:Action="http://webservices/OperacionesMinas/obtenerMinasRequest" message="tns:obtenerMinas"/>
<output wsam:Action="http://webservices/OperacionesMinas/obtenerMinasResponse" message="tns:obtenerMinasResponse"/>
</operation>
<operation name="mejorarMina">
<input wsam:Action="http://webservices/OperacionesMinas/mejorarMinaRequest" message="tns:mejorarMina"/>
<output wsam:Action="http://webservices/OperacionesMinas/mejorarMinaResponse" message="tns:mejorarMinaResponse"/>
</operation>
</portType>
<binding name="OperacionesMinasPortBinding" type="tns:OperacionesMinas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="producirRecursos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNivelMina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="asignarMina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerMinas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mejorarMina">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProducirRecursosMina">
<port name="OperacionesMinasPort" binding="tns:OperacionesMinasPortBinding">
<soap:address location="http://localhost:8080/ProducirRecursosMina/OperacionesMinas"/>
</port>
</service>
</definitions>