EW/src/conf/xml-resources/web-service-references/pruebaBean/wsdl/155.210.68.154_8080/pruebaBean/pruebaBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="pruebaBean">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://155.210.68.154:8080/pruebaBean/pruebaBean?xsd=1"/>
</xsd:schema>
</types>
<message name="crearUsuario">
<part name="parameters" element="tns:crearUsuario"/>
</message>
<message name="crearUsuarioResponse">
<part name="parameters" element="tns:crearUsuarioResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="findUser">
<part name="parameters" element="tns:findUser"/>
</message>
<message name="findUserResponse">
<part name="parameters" element="tns:findUserResponse"/>
</message>
<message name="comprobarLogin">
<part name="parameters" element="tns:comprobarLogin"/>
</message>
<message name="comprobarLoginResponse">
<part name="parameters" element="tns:comprobarLoginResponse"/>
</message>
<portType name="pruebaBean">
<operation name="crearUsuario">
<input wsam:Action="http://webservices/pruebaBean/crearUsuarioRequest" message="tns:crearUsuario"/>
<output wsam:Action="http://webservices/pruebaBean/crearUsuarioResponse" message="tns:crearUsuarioResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webservices/pruebaBean/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webservices/pruebaBean/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="findUser">
<input wsam:Action="http://webservices/pruebaBean/findUserRequest" message="tns:findUser"/>
<output wsam:Action="http://webservices/pruebaBean/findUserResponse" message="tns:findUserResponse"/>
</operation>
<operation name="comprobarLogin">
<input wsam:Action="http://webservices/pruebaBean/comprobarLoginRequest" message="tns:comprobarLogin"/>
<output wsam:Action="http://webservices/pruebaBean/comprobarLoginResponse" message="tns:comprobarLoginResponse"/>
</operation>
</portType>
<binding name="pruebaBeanPortBinding" type="tns:pruebaBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="pruebaBean">
<port name="pruebaBeanPort" binding="tns:pruebaBeanPortBinding">
<soap:address location="http://155.210.68.154:8080/pruebaBean/pruebaBean"/>
</port>
</service>
</definitions>