EW/web/WEB-INF/wsdl/localhost_8080/OperacionesRecursos/OperacionesRecursos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="obtenerRecursos" type="tns:obtenerRecursos"/>

<xs:element name="obtenerRecursosResponse" type="tns:obtenerRecursosResponse"/>

<xs:element name="restarRecursos" type="tns:restarRecursos"/>

<xs:element name="restarRecursosResponse" type="tns:restarRecursosResponse"/>

<xs:element name="sumarRecursos" type="tns:sumarRecursos"/>

<xs:element name="sumarRecursosResponse" type="tns:sumarRecursosResponse"/>

<xs:complexType name="obtenerRecursos">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerRecursosResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarRecursos">
<xs:sequence>
<xs:element name="unidades" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarRecursosResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restarRecursos">
<xs:sequence>
<xs:element name="unidades" type="xs:int"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restarRecursosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>